/* body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}
.btn {
    background-color: pink;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}
.btn span {
    z-index: 1;
    position: relative;
}
.btn::before {
    content: "";
    background-color: orangered;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 50%;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
}
.btn:hover::before {
    width: 300px;
    height: 300px;
} */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}

.btn {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 5px;
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
}
span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    background-color: orangered;
    position: absolute;
    border-radius: 50%;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}